@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,500;1,700&display=swap");

.rounded-img0 {
  width: 35%;
  border-radius: 0 50%;
  margin-left: 10px;
  box-shadow: 0 0px 7px gray;
}

.card {
  border-radius: 2em;
  text-align: center;
  padding: 1em;
  box-shadow: 0 0 17px black;
}

.card:hover {
background-color: rgba(0, 0, 0, 0.1);
}

.card img {
  width: 80%;
  margin: auto;
}

h5 {
  font-weight: bold;
  color: black;
  font-size: 25px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -10px;
  letter-spacing: -3px;
  cursor: default;
}

p {
  color: rgb(61, 0, 0);
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -1px;
  letter-spacing: -2px;
  line-height: 30px;
  cursor: default;
}





